@model Dochazka.Models.AttendanceRecordModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<h4>Attendance Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkDay" class="control-label"></label>
                <input asp-for="WorkDay" class="form-control" value=@DateTime.Today.ToString("yyyy-MM-dd") />
                <span asp-validation-for="WorkDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MorningAttendance" class="control-label"></label>
                <select asp-for="MorningAttendance" class="form-control" asp-items="ViewBag.MorningAttendance"></select>
                <span asp-validation-for="MorningAttendance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AfternoonAttendance" class="control-label"></label>
                <select asp-for="AfternoonAttendance" class="form-control" asp-items="ViewBag.AfternoonAttendance"></select>
                <span asp-validation-for="AfternoonAttendance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
