
@{
    ViewData["Title"] = "GetUsers";
}

<h1>GetUsers</h1>

<p>@ViewData["Result"]</p>

<ul>
    @{
        foreach (var user in ViewBag.Users)
        {
        <li>@user.UserName</li>
        }
    }
</ul>
