@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to employee AttendanceSheet sample application made by Gabriela C.</h2>
    <hr />
    <p>This is my diploma dissertation project which has the source code published<a href="https://github.com/xsubg001/dp2020/tree/master/Dochazka"> in my GitHub repository</a>.</p>
</div>
